{% extends 'base.html.twig' %}

{% block title %}Login page{% endblock %}

{% block body %}

<div class="container">
    <h1>Veuillez vous connecter</h1>
    {{ include('_flash_messages.html.twig') }} 
    <form action="{{ path('app_login') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password">
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>
</div>
{% endblock %}